var Images = React.createClass({

  getInitialState(){
    return {
      images: []
    }
  },

   fetchImages (){
     var component = this;
      return fetch("/api/images")
      .then(function(response){
        return response.json()
    })

  },

   componentDidMount(){
     var component = this
     this.fetchImages().then(function(json){

      console.log(json);
      var newState =  {images: json.imagesFound}

      component.setState(newState)

  })

},
   componentWillUnmount(){
     clearInterval(this.fetchImagesInterval);
   },

   handleRefreshClick() {
    this.fetchImages();
  },

  render() {
  return <div>

     <div className="text-right">
       <button onClick={this.handleRefreshClick} className="btn btn-primary">Refresh</button>
     </div>

  {
    this.state.images.map(function(image){
         return <div className="image"><img src={image}/></div>
      })
    }
</div>;
},
});
